In [5]:

import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine
data1 = {
    'Name': ['Microsoft Corporation', 'Google, LLC', 'Tesla, Inc.'],
    'Symbol': ['MSFT', 'GOOG', 'TSLA'],
    'Shares': [100, 50, 150]}
df1 = pd.DataFrame(data1)
df1

                    Name Symbol  Shares
0  Microsoft Corporation   MSFT     100
1            Google, LLC   GOOG      50
2            Tesla, Inc.   TSLA     150

In [11]:

for x in range(int(df2)):
     if df1.iloc[x]['Shares'] <= 100:
        #df2.append(df1.iloc[x]) 
        df2 = df2.append(df1.iloc[x])

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'